#type of enemie         0:CaC 1:Distance 2+:Boss
#health                                                 [int]
#speed                                                  [int:int]
#damage                                                 [int]
#attack speed           second per attk                 [float]
#type                   type                            [0:plain, 1:cave, 2:montain]
#scale                  size                            [int:int]
#sprite                 file name
#rect                   rect_object                     [int:int:int:int]
#animation              nb of animation                 [int]
#reach                  distance for target player      [int]
#experience given       ammount of xp given to player   [int]
# Chaussettes
0
25
1.0:1.0
5
1.1
0
1.2:1.2
ressources/Assets.png
0:250:50:50
8
300
7
# pantalon
0
60
2.8:2.8
12
2.0
0
1.2:1.2
ressources/Assets.png
0:395:50:50
8
200
12
# T-shirt
1
15
1.0:1.0
5
2.0
0
1.2:1.2
ressources/Assets.png
0:150:50:50
8
300
10
# Jupe
1
30
1.5:1.5
7
3.0
0
1.2:1.2
ressources/Assets.png
0:300:50:50
8
300
7
# Soutien-gorge
1
10
1.0:1.0
4
1.0
0
1.2:1.2
ressources/Assets.png
0:350:50:45
8
500
5
# Slip
1
60
1.0:1.0
6
2.5
0
1.2:1.2
ressources/Assets.png
0:200:50:50
8
200
10
# pull
84
200
4.20:4.20
20
1.4
0
2.2:2.2
ressources/Assets.png
0:440:50:50
8
600
40